#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_DH_INSTALL_SOURCEDIR = debian/tmp

# Only install debug symbols for libraries
DEB_DBG_PACKAGE_libvncserver0 = libvncserver0-dbg

# Use included autotools+configure script
# !!! Replace this hack with DEB_AUTO_UPDATE_* if CDBS gets support for automake args !!!
DEB_CONFIGURE_SCRIPT = $(CURDIR)/$(DEB_SRCDIR)/autogen.sh
DEB_CONFIGURE_EXTRA_FLAGS = --with-x11vnc

# clean up x11vnc & autotools mess
clean::
	+-$(DEB_MAKE_INVOKE)/x11vnc -k $(DEB_MAKE_CLEAN_TARGET)
	rm -rf aclocal.m4 autom4te.cache config.* _configs.sed configure depcomp install-sh missing rfbconfig.h.in rfb/rfbconfig.h rfb/rfbint.h
	find . -name Makefile -delete
	find . -name Makefile.in -delete

# linuxvnc has its own README, TODO, & ChangeLog
DEB_INSTALL_CHANGELOGS_linuxvnc = vncterm/ChangeLog
DEB_INSTALL_DOCS_linuxvnc = vncterm/README vncterm/TODO

# Rename LinuxVNC to linuxvnc
binary-post-install/linuxvnc::
	mv debian/linuxvnc/usr/bin/LinuxVNC debian/linuxvnc/usr/bin/linuxvnc


# x11vnc has its own README & ChangeLog
DEB_INSTALL_CHANGELOGS_x11vnc = x1lvnc/ChangeLog
DEB_INSTALL_DOCS_x11vnc = x11vnc/README

# x11vnc has a different makefile
build/x11vnc::
	$(DEB_MAKE_ENVVARS) $(MAKE) -C $(DEB_BUILDDIR)/x11vnc

install/x11vnc::
	$(DEB_MAKE_ENVVARS) $(MAKE) -C $(DEB_BUILDDIR)/x11vnc $(DEB_MAKE_INSTALL_TARGET)
